<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>@Model.GetName()</h2>


    <a href="/courses/all/">Back to list of courses</a>
  </body>
</html>
