<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> University of Broke: The U. Broke way!</h1>

    <p><a href="courses/all">View courses we offer.</a></p>

    <p><a href="students/all">View all students</a></p>




  </body>
</html>
