<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>@Model.GetName()</h2>

    <a href="/students/all/">Back to list of students</a>
  </body>
</html>
